
* {

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

h1, h2 , h3 , h4 {
     margin : 0;
}

img {
     width : 100%;
}

.container__notes {

    margin : 0 auto;
    border : 1px solid black;
    margin : 2.5rem 1rem 2.5rem 1rem;
    text-align: center;


       
}

input , textarea {

    outline :  none;
    border: none;
    padding: 1rem;
    

}

button i {
       
     color : red;
     font-size: 1.5rem;
 
     
}

.notes__submit {
     
         
         border : none;
         background-color: white;
         cursor: pointer;
         padding-top: 1rem;
}

.container__notes {

       display:flex;
       flex-direction: column;
       flex-wrap: wrap;
      


}

